{{#partial "content"}}
<div class="success-content">
    <p class="congrats">Congratulations<span class="item">{{item}}</span> </p><br>
    <p class="congrats"> Process completed Successfully</p><br><br>

    <a href="/hero"><button class="viewHero">Click to View Hero</button></a><br>
    <a href="/squad"><button class="viewSquad">Click to view Squad</button></a><br>
</div>

{{/partial}}
{{>layout.hbs}}