{{#partial "content"}}
    <div class="details-content">
    <div class="hero-details">
        <h3>Hero Statistics</h3>
    </div>
        <div class="hero-stats">
            <div class="attack">Attack<br>
               <span class="att-stat"></span>
            </div>
            <div class="defence">Defence<br>
               <span class="def-stat"></span>
            </div>
            <div class="speed">Speed<br>
               <span class="peed-stat"></span>
            </div>
            <br><br>
            <a href="/hero"><button class="back-tch">Back To Current Heroes</button></a>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}