{{#partial "content"}}
    <div class="hero-form">
       <h1 class="heroform-title">Create your Awesome Super Hero</h1>
    </div>
      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col">
                  <div class="hero-form">
                      <form>
                          <div class="mb-3">

                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Name"><br>
                              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Age"><br>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Special powers"><br>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Weakness"><br>
                          </div>

                          <div class="herosubmit-btn">Submit</div>

                      </form>

                  </div>
              </div>
              <div class="col-md-2"></div>
          </div>
      </div>




{{/partial}}
{{>layout.hbs}}