{{#partial "content"}}
    <div class="hero-form">
       <h1 class="heroform-title">Create your Awesome Super Hero</h1>
    </div>
      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col">
                  <div class="hero-form">
                      <form action="/new/hero" method="post">
                          <div class="mb-3">

                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Name"  name="name"><br>
                              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Age" name="age"><br>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Special powers" name="power"><br>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hero's Weakness" name="weakness"><br>
                          </div>

                          <div class="submit-btn">
                              <button type="submit" class="herosubmit-btn">Submit</button>
                          </div>

                      </form>

                  </div>
              </div>
              <div class="col-md-2"></div>
          </div>
      </div>




{{/partial}}
{{>layout.hbs}}