{{#partial "content"}}
             <div class="index">
                 <div class="card">
                     <h1 id="heading">HERO <span class="squad">SQUAD</span></h1>
                     <br>
                     <a href="/landing-page" class="button-next"><button class="next">Click to continue &nbsp; &nbsp;<i class="fas fa-angle-double-right"></i></button></a>
                 </div>

             </div>






{{/partial}}
{{>layout.hbs}}